.cartOpened #dropdownCart {
  --tw-translate-x: -11rem;
  z-index: 10;
}

/* .cartOpened:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.5);
} */
